<div class="card text-xs-center {% if torrent.isStopped %}card-inverse{% endif %}">
    <div class="card-header text-muted">
        <div class="btn-toolbar pull-right" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group btn-group-sm" role="group" aria-label="Play">
              <a href="{{ path('moustache_torrent_start', { id: torrent.id }) }}" type="button" class="btn btn-secondary{% if not torrent.isStopped %} disabled{% endif %}"><span class="fa fa-share-alt" aria-hidden="true"></span></a>
              <a href="{{ path('moustache_torrent_stop', { id: torrent.id }) }}" type="button" class="btn btn-secondary{% if torrent.isStopped %} disabled{% endif %}"><span class="fa fa-pause" aria-hidden="true"></span></a>
            </div>

            {% if not torrent.isFile and torrent.isDone %}
                <div class="btn-group btn-group-sm" role="group" aria-label="More">
                  <a href="{{ path('moustache_torrent_content', { id: torrent.id }) }}" class="btn btn-secondary"><span class="fa fa-share" aria-hidden="true"></span></a>
                </div>
            {% endif %}

            <div class="btn-group btn-group-sm" role="group" aria-label="Separator">
                <span class="fa fa-2x fa-ellipsis-v" aria-hidden="true"></span>
            </div>

            {% if torrent.isDone %}
                <div class="btn-group btn-group-sm" role="group" aria-label="Download group">
                    <button type="button" class="btn btn-success"><span class="fa fa-2x fa-download" aria-hidden="true"></span></button>
                </div>
            {% elseif not torrent.isFile %}
                <div class="btn-group btn-group-sm" role="group" aria-label="More">
                  <a href="{{ path('moustache_torrent_content', { id: torrent.id }) }}" class="btn btn-info"><span class="fa fa-2x fa-share" aria-hidden="true"></span></a>
                </div>
            {% endif %}
        </div>
    </div>
    <progress class="progress {% if torrent.isDone %}progress-success{% else %}progress-info progress-animated{% endif %} progress-striped" value="{{ torrent.percentDone }}" max="100"></progress>
    <div class="card-block">
        <p class="card-title">
            <span class="fa fa-5x {{ torrent.mime }}" aria-hidden="true"></span>
        </p>
        <p class="card-text"><small>{{ torrent.friendlyName | truncate(80, false, '…') }}</small></p>
    </div>
</div>