<nav class="navbar navbar-full navbar-dark bg-inverse bg-faded">
    <div class="col-md-1 col-xs-12 align-middle text-xs-center">
        <a class="navbar-brand hidden-sm-down" href="{{ path('moustache_torrent') }}"><img alt="moustache logo" src="{{ asset('css/img/logo_outline.svg') }}"></a>
        <a class="hidden-md-up" href="{{ path('moustache_torrent') }}"><img alt="moustache logo" src="{{ asset('css/img/logo_outline.svg') }}"></a>
    </div>

    <div class="row flex-items-xs-middle">
    </div>

    <div class="ml-1 pull-right">
        <a class="btn btn-sm" href="{{ path('fos_user_security_logout') }}"><span class="fa fa-2x fa-power-off" aria-hidden="true"></span></a>
    </div>

    <div class="row hidden-xs-down hidden-md-up flex-items-xs-center">
        <div class="col-sm-12">
            {{ form_start(formTorrentMenuBig, {'action': path('moustache_torrent_add'), 'attr': {'class': 'form-inline float-md-right float-sm-none'}}) }}
                <label class="btn btn-secondary torrent-selector" for="torrent-selector-nav-big">
                    {{ form_widget(formTorrentMenuBig.uploadedFile, {'id': 'torrent-selector-nav-big', 'attr': {'accept': '.torrent'}}) }}
                    {% trans %}Pick a .torrent file{% endtrans %}
                </label>
                {{ form_widget(formTorrentMenuBig.uploadedFileByUrl, {'attr': {'class': 'form-control torrent-url-nav', 'placeholder': 'or paste magnet/torrent link'|trans}}) }}
                <span class="fa fa-ellipsis-v" aria-hidden="true"></span>
                <button class="btn btn-primary" type="submit"><i class="fa fa-upload" aria-hidden="true"> {% trans %}Add torrent!{% endtrans %}</i></button>
            {{ form_end(formTorrentMenuBig) }}
        </div>
    </div>

    <div class="col-sm-12 hidden-sm-down">
        {{ form_start(formTorrentMenu, {'action': path('moustache_torrent_add'), 'attr': {'class': 'form-inline float-md-right float-sm-none'}}) }}
            <label class="btn btn-secondary torrent-selector" for="torrent-selector-nav-small">
                {{ form_widget(formTorrentMenu.uploadedFile, {'id': 'torrent-selector-nav-small', 'attr': {'accept': '.torrent'}}) }}
                {% trans %}Pick a .torrent file{% endtrans %}
            </label>
            {{ form_widget(formTorrentMenu.uploadedFileByUrl, {'attr': {'class': 'form-control torrent-url-nav', 'placeholder': 'or paste magnet/torrent link'|trans}}) }}
            <span class="fa fa-ellipsis-v" aria-hidden="true"></span>
            <button class="btn btn-primary" type="submit"><i class="fa fa-upload" aria-hidden="true"> {% trans %}Add torrent!{% endtrans %}</i></button>
        {{ form_end(formTorrentMenu) }}
    </div>
</nav>