{% extends 'MoustacheBundle::layout.html.twig' %}

{% block title %}Signup. That’s so cool!{% endblock %}

{% block body %}
    <br>
    <section>
        <div class="jumbotron">
            <div class="row">
                {{ form_start(formSignup, {'action': path('moustache_signup_signup', {'confirmationToken': user.confirmationToken}), 'attr': {'class': 'offset-xs-1 col-xs-10 offset-sm-2 col-sm-8 offset-md-3 col-md-6'}}) }}
                    <div class="form-group row">
                        <label for="username">{{ 'Username'|trans }}</label>
                        <input type="text" id="username" class="form-control" value="{{ formSignup.vars.data.username }}" disabled>
                        <small class="form-text text-muted">{% trans %}You will need this username to log in. You cannot change it.{% endtrans %}</small>
                    </div>

                    <div class="form-group row">
                        {{ form_label(formSignup.plainPassword.first) }}
                        {{ form_widget(formSignup.plainPassword.first, {'attr': {'class': 'form-control form-control-lg'}}) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(formSignup.plainPassword.second) }}
                        {{ form_widget(formSignup.plainPassword.second, {'attr': {'class': 'form-control form-control-lg'}}) }}
                    </div>

                    <div class="form-group row">
                        <div class="offset-lg-3 col-lg-6">
                            <button class="btn btn-lg btn-block btn-primary" type="submit">{% trans %}Signup{% endtrans %}</i></button>
                        </div>
                    </div>
                {{ form_end(formSignup) }}
        </div>
    </section>
{% endblock body %}
